
.container-page {
  background: #f5f5f5;
  min-height: 100vh;
  h1 { font-size: 4rem; }
  .container-form {
    transform: translateY(65px);
    padding: 25px;
    max-width: 300px;
    margin: auto;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px #ddd;
    form {
      margin-bottom: 15px;
      input {
        width: 100%;
      }
    }
  }
}
