
// * Règles d'utilisation du less dans dating-compose. *
// --
// Dans la mesure ou ce projet est un site en marque blanche, le css
// doit être le plus générique possible.
// --
// * on ne touche pas à skeleton.less et on utilise au maximun ses classes
// * si on veut overider des règles de skeleton c'est toujours dans index.less
// * priorité à la simplicité du code que aux détails d'animations qui rendent complexe le css

// font google importer dans head: 'Arvo', 'Rubik'
body, html {
  margin: 0 0;
  padding: 0 0;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
}

a { text-decoration: none; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border: 0px;
  background: rgba(127, 127, 127, 0.15);
  &:focus {
    border: none;
  }
}

input[type="submit"].button-primary {
  margin-top: 12.5px;
  transition-duration: 300ms;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 5px #ccc;
  }
}

.flexContainer {
  display: flex;
}

@media only screen and (max-device-width: 600px) {
  .flexContainer {
    display: block !important;
  }
}
